<h1>Update Landmarks</h1>

<form action="/landmarks/<%=@landmark.id%>" method="POST">

  <input id="hidden" type="hidden" name="_method" value="patch">

  <label for="landmark_name">Name:</label>

  <br></br>

  <input type="text" name="landmark[name]" id="landmark_name" value="<%=@landmark.name%>">

  <br></br>

  <label for="landmark_year_completed">Year Completed:</label>

  <br></br>

  <input  type="text" name="landmark[year_completed]" id="landmark_year_completed" value="<%= @landmark.year_completed %>"></input>

  <br></br>

  <input type="submit" value="Edit Landmark">

</form>
