<h1>Landmarks</h1>

<% @landmarks.each do |landmark| %>
   <p><a href = "/landmarks/<%= landmark.id %>">Landmark Name: <%= landmark.name %></a></p><br>
   <p><a href = "/landmarks/<%= landmark.id %>">Year Completed: <%= landmark.year_completed %></a></p><br>
 </div><br>
<% end %>
