<form action="/landmarks" method="POST">

  <h1>Landmarks</h1><br>

  <h2>Landmark Information</h2><br>

  <label>Landmark Name:</label><br>
  <input type="text" name="landmark[name]"><br>

  <label>Year Completed:</label></br>
  <input type="text" name="landmark[year_completed]"></br>

  <input type="submit" value="Create New Landmark"><br>
</form>
