<form action="/landmarks" method="POST">

  <h1>Landmarks</h1><br>

  <h2>Landmark Information</h2><br>

  <label for="landmark_name">Landmark Name:</label><br>
  <input type="text" name="landmark[name]" id="landmark_name"></br>

  <label for="landmark_year_completed">Year Completed:</label></br>
  <input type="text" name="landmark[year_completed]" id="landmark_year_completed"></br>

  <input type="submit" value="Create New Landmark"><br>
</form>
