<table>
  <tr>
    <th>Figure Name:</th>
    <th>Titles:</th>
    <th>Landmarks:</th>
  </tr>
  <tr>
    <td>
      <%= @figure.name %>
    </td>
    <td>
      <%@figure.landmarks.each do |landmark|%>
        <li><%=landmark.name%></li>
      <%end%>
    </td>
    <td>
      <%@figure.titles.each do |title|%>
        <li><%=title.name%></li>
      <%end%>
    </td>
  </tr>
<table>
